#!/bin/sh
# 
# Modify this file to suit your local development environment, but do not check it in
#

# Make sure Python3 is first in path
PATH=/Library/Frameworks/Python.framework/Versions/3.4/bin:$PATH
export PATH

# Setup virtual environment for Python
PYLOCAL=./env
if [ ! -d "$PYLOCAL" ] ; then
    virtualenv "$PYLOCAL"
fi
. "$PYLOCAL"/bin/activate

